<a href="https://colab.research.google.com/github/Kyl67899/Python/blob/work/Data_Scientist_with_Python_w_AI_planet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science
##### Credit to code and information came from Ai Planet
####Copyright: All reights are reserved
#####Credit: Kyle Yarun Parsotan

## Intro to Data Science

In [ ]:
print("Hello, DPhi! Today I excuted my first Python program. Thanks! ")

Hello, DPhi! Today I excuted my first Python program. Thanks!

In [ ]:
# Consider two numbers, a = 5, b = 16. Write a Python program to print the sum of these two numbers.
# Write a Python program to take a number from the user as input and print the cube of the number.

In [ ]:
a = 5 

b = 16

x = a + b
print(x)

21

In [ ]:
u = int(input("Pick a number: "))

z = u ** 3

print(z)

KeyboardInterrupt: ignored

In [ ]:
#Functions

y = [2, 4, 6, 1, 9]

max(y)

In [ ]:
len(y)

In [ ]:
round(2.34, 1)

In [ ]:
sorted(y, reverse=True)

In [ ]:
y.index(1)

In [ ]:
y.count(4)

In [ ]:
word = 'msdemfds'

word.capitalize()

In [ ]:
word.replace("dem", "efg")

##Intro to Pandas

In [ ]:
#pandas
import pandas as pd

In [ ]:
exams = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Data_science/exam_scores.csv")

In [ ]:
#shape attribute

exams.shape

(1000, 8)

In [ ]:
#use head method

exams.head(3)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group B,bachelor's degree,standard,none,74,68,67
1,female,group C,some college,standard,completed,58,68,66
2,male,group C,some college,free/reduced,none,66,65,65

In [ ]:
#tail method #last 5 instead of first 5

exams.tail(3)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
997,female,group E,associate's degree,free/reduced,none,67,67,67
998,female,group C,high school,standard,none,63,68,70
999,male,group C,some college,free/reduced,none,49,57,50

In [ ]:
#data types

exams.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [ ]:
exams.info

<bound method DataFrame.info of      gender race/ethnicity parental level of education         lunch  \
0      male        group B           bachelor's degree      standard
1    female        group C                some college      standard
2      male        group C                some college  free/reduced
3    female        group D           bachelor's degree  free/reduced
4      male        group D                some college      standard
..      ...            ...                         ...           ...
995  female        group C            some high school      standard
996  female        group E                some college      standard
997  female        group E          associate's degree  free/reduced
998  female        group C                 high school      standard
999    male        group C                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          74             68             67
1                 completed          58             68             66
2                      none          66             65             65
3                      none          74             75             73
4                      none          78             77             71
..                      ...         ...            ...            ...
995                    none          68             77             72
996                    none          98             81             94
997                    none          67             67             67
998                    none          63             68             70
999                    none          49             57             50

[1000 rows x 8 columns]>

In [ ]:
exams.iloc[-4:, 0:2]

     gender race/ethnicity
996  female        group E
997  female        group E
998  female        group C
999    male        group C

In [ ]:
exams["test preparation course"]

0           none
1      completed
2           none
3           none
4           none
         ...
995         none
996         none
997         none
998         none
999         none
Name: test preparation course, Length: 1000, dtype: object

In [ ]:
exams[["gender", "test preparation course"]]

     gender test preparation course
0      male                    none
1    female               completed
2      male                    none
3    female                    none
4      male                    none
..      ...                     ...
995  female                    none
996  female                    none
997  female                    none
998  female                    none
999    male                    none

[1000 rows x 2 columns]

In [ ]:
exams[exams.lunch == 'standard']

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group B,bachelor's degree,standard,none,74,68,67
1,female,group C,some college,standard,completed,58,68,66
4,male,group D,some college,standard,none,78,77,71
5,female,group D,associate's degree,standard,completed,75,82,85
8,male,group C,some high school,standard,completed,65,58,55
...,...,...,...,...,...,...,...,...
993,male,group A,some college,standard,none,56,54,45
994,male,group C,master's degree,standard,completed,85,93,90
995,female,group C,some high school,standard,none,68,77,72
996,female,group E,some college,standard,none,98,81,94
998,female,group C,high school,standard,none,63,68,70

In [ ]:
exams.describe(include = 'all')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
count,1000,1000,1000,1000,1000,1000.000000,1000.00000,1000.000000
unique,2,5,6,2,2,NaN,NaN,NaN
top,female,group C,some college,standard,none,NaN,NaN,NaN
freq,502,294,226,649,654,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,67.128000,70.17400,68.973000
std,NaN,NaN,NaN,NaN,NaN,14.815367,14.85599,15.109155
min,NaN,NaN,NaN,NaN,NaN,15.000000,18.00000,10.000000
25%,NaN,NaN,NaN,NaN,NaN,58.000000,60.00000,59.000000
50%,NaN,NaN,NaN,NaN,NaN,67.000000,70.00000,69.000000
75%,NaN,NaN,NaN,NaN,NaN,78.000000,81.00000,80.000000
max,NaN,NaN,NaN,NaN,NaN,100.000000,100.00000,100.000000

In [ ]:
exams["math score"].sort_values()[:10]

949    15
854    18
891    23
349    25
739    25
316    28
310    30
413    31
117    31
649    31
Name: math score, dtype: int64

In [ ]:
exams.rename(columns= {"race/ethnicity": "race", 
                       "parental level of education": "parental_level_of_education",
                       "test preparation course": "test_preparation_course",
                       "math score": "math_score", 
                       "reading score": "reading_score", 
                       "writing score": "writing_score"}, inplace=True)

In [ ]:
exams.columns

Index(['gender', 'race', 'parental_level_of_education', 'lunch',
       'test_preparation_course', 'math_score', 'reading_score',
       'writing_score'],
      dtype='object')

In [ ]:
exams.head()

,gender,race,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,male,group B,bachelor's degree,standard,none,74,68,67
1,female,group C,some college,standard,completed,58,68,66
2,male,group C,some college,free/reduced,none,66,65,65
3,female,group D,bachelor's degree,free/reduced,none,74,75,73
4,male,group D,some college,standard,none,78,77,71

In [ ]:
exams.isnull().sum()

gender                         0
race                           0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

## Quiz 1

In [ ]:
#import pandas
import pandas as pd

#read in data 
ckd_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Chronic%20Kidney%20Disease%20(CKD)%20Dataset/ChronicKidneyDisease.csv")
#print data
ckd_data.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [ ]:
ckd_data.head(10)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
5,5,60.0,90.0,1.015,3.0,0.0,NaN,NaN,notpresent,notpresent,...,39,7800,4.4,yes,yes,no,good,yes,no,ckd
6,6,68.0,70.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,36,NaN,NaN,no,no,no,good,no,no,ckd
7,7,24.0,NaN,1.015,2.0,4.0,normal,abnormal,notpresent,notpresent,...,44,6900,5,no,yes,no,good,yes,no,ckd
8,8,52.0,100.0,1.015,3.0,0.0,normal,abnormal,present,notpresent,...,33,9600,4.0,yes,yes,no,good,no,yes,ckd
9,9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,...,29,12100,3.7,yes,yes,no,poor,no,yes,ckd

In [ ]:
ckd_data.tail(7)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
393,393,43.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7400,5.4,no,no,no,good,no,no,notckd
394,394,50.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,45,9500,4.6,no,no,no,good,no,no,notckd
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [ ]:
ckd_data.dtypes

Id                  int64
Age               float64
blood_pressure    float64
sg                float64
al                float64
su                float64
rbc                object
pc                 object
pcc                object
ba                 object
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv                object
wc                 object
rc                 object
htn                object
dm                 object
cad                object
appet              object
pe                 object
ane                object
classification     object
dtype: object

In [ ]:
ckd_data.describe()

,Id,Age,blood_pressure,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,199.500000,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,115.614301,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,99.750000,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,199.500000,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,299.250000,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

In [ ]:
ckd_data.loc[247:254, ["id", "age", "classification"]]

      id   age classification
247  247  54.0            ckd
248  248  59.0            ckd
249  249  56.0            ckd
250  250  40.0         notckd
251  251  23.0         notckd
252  252  45.0         notckd
253  253  57.0         notckd
254  254  51.0         notckd

In [ ]:
ckd_data.max()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

id                   399
age                 90.0
bp                 180.0
sg                 1.025
al                   5.0
su                   5.0
bgr                490.0
bu                 391.0
sc                  76.0
sod                163.0
pot                 47.0
hemo                17.8
classification    notckd
dtype: object

In [ ]:
ckd_data.rename(columns = {
   "id": "Id",
   "age": "Age",
   "bp": "blood_pressure",
}, inplace=True)
ckd_data

,Id,Age,blood_pressure,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [ ]:
ckd_data[["Id", "Age", "classification"]].isna().sum()

Id                0
Age               9
classification    0
dtype: int64

In [ ]:
ckd_data[["blood_pressure"]].isna().sum()

blood_pressure    12
dtype: int64

In [ ]:
ckd_data

,Id,Age,blood_pressure,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [ ]:
ckd_data["cad"].median()

TypeError: ignored

In [ ]:
ckd_data["blood_pressure"].fillna(ckd_data["blood_pressure"].median(), inplace=True)
ckd_data.describe()

,Id,Age,blood_pressure,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,391.000000,400.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,199.500000,51.483376,76.575000,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,115.614301,17.169714,13.489785,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,99.750000,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,199.500000,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,299.250000,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

In [ ]:
ckd_data["cad"].fillna(ckd_data["cad"].mean(), inplace=True)
ckd_data.describe()

TypeError: ignored

In [ ]:
ckd_data.to_csv("test.csv", index=False)

In [ ]:
#read in data 
ckd_data = pd.read_csv("test.csv")
#print data
ckd_data.head()

,Unnamed: 0,Unnamed: 0.1,Id,Age,blood_pressure,sg,al,su,rbc,pc,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,...,35,7300,4.6,no,no,no,good,no,no,ckd