<a href="https://colab.research.google.com/github/Kyl67899/Python/blob/challenges/Pandas_Bootcamp_Graded_Hands_on_Exercise_Kyle_Parsotan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Overview

Dear Learner, 

Congratulations, you have studied Pandas all the way through the end of this bootcamp!!! This is the final graded hands-on exercise where you will be accomplishing the below mentioned task.

For the tasks, we'll be using the COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University. You can find the orginal dataset here: https://github.com/CSSEGISandData/COVID-19


**Dataset Link**: https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv

**Resources**: You may consider referring to this resource while solving this project: https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/


####Coder: Kyle Yarun Parsotan
###Credit to Ai Planet

**Information about the dataset:**

There are 8 features:

* SNo: Serial number
* ObservationDate: Date of observation of the cases (format: MM/DD/YYYY)
* Province/State: Province or State of the country where cases were observed
* Country/Region: Country where cases were observed
* Last Update: Time in UTC at which the row is updated for the given province or country. (It is not in a standard format)
* Confirmed: Cumulative number of confirmed cases till the date
* Deaths: Cumulative number of deaths till the date
* Recovered: Cumulative number of recovered cases till date

**Instruction for the learner:** 
* Recommended to revise 'groupby()' method of pandas
* Recommended to understand the word **'Cummulative'** properly for three features - 'Confirmed', 'Recovered' and 'Deaths'.
* Please note that the dtype of datetime columns are of object, convert them to datetime as shown below:

###**Task 1**

* Read the dataset and name is as `df`
* Print first 10 observations of the dataset
* Check for the data types of the all the variables in the dataset
* Convert columns ['ObservationDate'] and ['Last Update'] to from object to datatime data type.

In [ ]:
#import pandas
import pandas as pd

#read in data
df = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv")

#print data
df.head(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

In [ ]:
df.dtypes

SNo                  int64
ObservationDate     object
Province/State      object
Country/Region      object
Last Update         object
Confirmed          float64
Deaths             float64
Recovered          float64
dtype: object

In [ ]:
#convert [obsdate] and [lastupdate] to datetime data type

df["ObservationDate"] = pd.to_datetime(df["ObservationDate"], format='%Y-%m-%d')
df["Last Update"] = pd.to_datetime(df["Last Update"], format='%Y-%m-%d')
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,2020-01-22,Anhui,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
1,2,2020-01-22,Beijing,Mainland China,2020-01-22 17:00:00,14.0,0.0,0.0
2,3,2020-01-22,Chongqing,Mainland China,2020-01-22 17:00:00,6.0,0.0,0.0
3,4,2020-01-22,Fujian,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
4,5,2020-01-22,Gansu,Mainland China,2020-01-22 17:00:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
40800,40801,2020-06-12,Zacatecas,Mexico,2020-06-13 03:33:14,501.0,55.0,279.0
40801,40802,2020-06-12,Zakarpattia Oblast,Ukraine,2020-06-13 03:33:14,1506.0,38.0,675.0
40802,40803,2020-06-12,Zaporizhia Oblast,Ukraine,2020-06-13 03:33:14,515.0,15.0,322.0
40803,40804,2020-06-12,Zhejiang,Mainland China,2020-06-13 03:33:14,1268.0,1.0,1267.0
40804,40805,2020-06-12,Zhytomyr Oblast,Ukraine,2020-06-13 03:33:14,1013.0,17.0,527.0

In [ ]:
df.dtypes

SNo                         int64
ObservationDate    datetime64[ns]
Province/State             object
Country/Region             object
Last Update        datetime64[ns]
Confirmed                 float64
Deaths                    float64
Recovered                 float64
dtype: object

### **Task 2**
* Create a subset of the data `df`, only taking observations which was **last updated** on **2020-06-13 03:33:14** and name this dataframe as **updated_data**. 
* Print the total no. of observations and unique country records in **updated_data**

In [ ]:
#selecting 2020-06-13 03:33:14 and creating new df: update_data

updated_data = df[df['Last Update'].dt.strftime('%Y-%m-%d') == "2020-06-13"]

#print new df
updated_data

SNo                729
ObservationDate    729
Province/State     560
Country/Region     729
Last Update        729
Confirmed          729
Deaths             729
Recovered          729
dtype: int64

In [ ]:
#print # of observations
updated_data.count()

SNo                729
ObservationDate    729
Province/State     560
Country/Region     729
Last Update        729
Confirmed          729
Deaths             729
Recovered          729
dtype: int64

### **Task 3**
* Create a subset of data from the dataframe **updated_data**, only taking the top 10 countries which have the maximum number of confirmed cases with features - **'Country/Region', 'Confirmed', 'Deaths' and 'Recovered'**. Name this dataframe as 'top_10'

* print the name of the countries in 'top_10' dataset
* Which country has the lowest number of confirmed cases among the ten countries in top_10 dataframe?
Hint: use groupby() to group all the observations with same country, sum all the observations and then sort the dataframe by confirmed cases.

In [ ]:
#create subdata top_10 selecting Country/Region, Confirmed, Death, and Recovered.

top_10 = updated_data[["Country/Region", "Confirmed", "Deaths", "Recovered"]]

#print top_10
top_10

#groupby observations same country, sum all, then sort by confirmed cases

group = df.groupby("Country/Region").sum().sort_values("Confirmed")
group

                             SNo   Confirmed     Deaths   Recovered
Country/Region
 Azerbaijan                 2664         1.0        0.0         0.0
Channel Islands             4686         1.0        0.0         0.0
East Timor                  7589         1.0        0.0         0.0
North Ireland               2685         1.0        0.0         0.0
Republic of the Congo      41243         1.0        0.0         0.0
...                          ...         ...        ...         ...
Russia                  38057815  14949259.0   161716.0   5053499.0
Italy                   20931186  15872416.0  2140610.0   7104480.0
Spain                   19805380  16095371.0  1763203.0   8411642.0
Brazil                  23177069  17172054.0  1009660.0   7428254.0
US                     111075601  88972448.0  4993653.0  16537321.0

[223 rows x 4 columns]

### **Task 4**
* Add two columns in 'top_10' dataframe - 'Recovered_percentage' and 'Deaths_percentage' 

where

'Recovered_percentage' = (Recovered cases / Confirmed cases) * 100

'Death_percentage' = (Deaths cases / Confirmed cases) * 100

* Print the top 3 countries with highest recovery precent

In [ ]:
#add new columns

top_10["Recovered_percentage"] = ((top_10["Recovered"] / top_10["Confirmed"]) * 100)

top_10["Death_percentage"] = ((top_10["Deaths"] / top_10["Confirmed"]) * 100)

top_10.sort_values("Recovered_percentage").loc[40748:40753]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Country/Region,Confirmed,Deaths,Recovered,Recovered_percentage,Death_percentage
40748,Chile,0.0,0.0,131358.0,inf,NaN
40649,US,0.0,0.0,547386.0,inf,NaN
40753,Peru,0.0,0.0,107133.0,inf,NaN

##**Scores**

Each of the tasks is of 15 marks each and the scores will be given accordingly after the notebook review.